.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homeContainer{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Container {
  background-color: rebeccapurple;
  border-radius: 8px;
  max-width: 380px;
  width: 100%;
  margin: 0 10px;  /* isso é igual a um margin-horizontal: 10px */
  max-height: 510px;
  height: 100%;
  box-shadow: #000;
}

.Header {
  text-align: center;
  padding-top: 15%;
  color: #f2f2f2;
  text-decoration: none;
}

.textContent {
  padding-top: 2%;
  padding-bottom: 4%;
  text-align: center;
  color: #f2f2f2;
}

.textUserAndPass {
  text-align: center;
  color: #f2f2f2;
  text-align: center;
} 

a:link{
  text-decoration: none;
}

.containerButton {
  margin: 2%;
  justify-content: center;
  display: flex;
}

.buttonTest {
  background-color: slateblue;
  border: 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 80%;
  height: 45px;
  font-weight: bold;
  color: #f2f2f2;
  font-size: 14px;
  text-decoration: none;
}
.buttonTest:hover{
  background-color: #F2F2F2;
  color: rebeccapurple;
}

.containerInput {
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input {
  color: #f2f2f2;
  background-color: transparent;
  width: 80%;
  height: 35px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-color: #000;
  border-bottom-width: 1px;
  text-decoration: none;
}

.separation {
  margin-top: 4%;
}

.logoContainer{
  margin-top: 15%;
  margin-left: 10%;
  height: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.centering{
  text-align: center;
}

.nav{
  top: 0;
  left: 0;
  right: 0;
  background-color: rebeccapurple;
  position: fixed;
  height: 60px;
}

.buttonNav{
  background-color: #f2f2f2;
  color: rebeccapurple;
  border: none;
  border-radius: 2px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.listStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  align-items: center;
}

.footer{
  position: absolute; 
  height: 60px; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: rebeccapurple
}

.footerText{
  height: 100%;
  align-items: center; 
  display: flex;
  justify-content: center; 
  color: #F2F2F2; 
  font-size: 22px;
  font-weight: bold;
}
.contentBox{
  height: 500px;
  width: 500px;
  background-color: red;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

